body {
    font: 11pt Georgia,"Times New Roman",Times, serif;
    line-height: 1.3em;
    background-image: url('../img/bg_pixel.png');
    color: #000;
    /*text-shadow: 0px 1px white;*/
}

.wrapper {
    background-image: url('../img/bg_image.png');
    background-repeat: repeat-y;
    background-position: center;
}

.footer {
    margin-left: -240px;
    margin-right: -240px;
    height: 100px;
    background-position: top center;
    background-image: url('../img/bg_footer.png')
}

.header {
    margin-left: -240px;
    margin-right: -240px;
    height: 31px;
    background-position: top center;
    background-image: url('../img/bg_header.png')
}

.text-wrapper {
    /*background-image: url('../img/bg_bg.png');*/
    background-color: #791010;
}

.commentable-container {
    margin: 0px 0px 0px 20px;
    padding: 20px 20px 20px 24px;
    background-color: #fff;
}
.comment-button {
    position: absolute;
    top: 0px;
    width: 20px;
    z-index: 999;
}
.comment-button:hover {
    /*background-image:url('../img/bubble.png');*/
    background-color: #fff;
    cursor: pointer;
}

.commentable-container h1, h2, h3, p {
    position: relative;
}

.commentable-container h1 {
    text-align:left;
    color: #791010;
    font-size: 1.7em;
    margin: .60em;
    border-bottom:1px solid #7f7f7f;
    padding-bottom: .7em;
/*    text-shadow:  0px -1px black, 0px 1px white;*/
    line-height: 110%;
}

.commentable-container h2 {
    color:#1a1a1a;
    font-size: 1.25em; 
    margin: .5em;
    padding-top: .5em;
}
.commentable-container p {
    margin: 10px 50px 10px 50px;
    padding-bottom: 0.9em;
/*    text-indent:20px;*/
}
    
a, a > u { text-decoration: none; }

a:link    { font-weight: bold; color: #6374AB; } 
/*a:visited { color: #511ca0; }
a:hover   { color: #ff0080; }*/

#form-controls { margin-top: 5px; }

#id_comment {
  width:98%;
  height: 130px;
  background:none repeat scroll 0 0 #FFFFFF;
  border:1px solid #bbb;
/*  -moz-box-shadow: 0px 1px 5px #eee;*/
  font-size:12px;
  padding:3px;
  margin-bottom: 8px;
}

#id_name {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #bbb;
/*    -moz-box-shadow: 0px 1px 5px #eee;*/
    font-size:12px;
    padding:3px;
    margin-top: 1px; 
    margin-bottom: 8px; 
    width: 60%
}

.sp3, #sp3 {
font-size:8pt;
position:relative;
top:-4pt;
}
.sp1, #sp1{
    text-decoration:underline;
    position: relative;
    bottom: 4pt;
    left: 4pt;
}
.sp2, #sp2{
    position: relative;
    top: 7pt;
    right: 65pt;
}
.sp2-1, #sp2-1{
    position: relative;
    top: 7pt;
    right: 130pt;
}

center {
    position: relative;
}

li {
    margin:auto;
    width:80%;
    padding: 3px 10px 3px 10px;
    border: 3px solid #fff;
    background-color:#777;
    color: white;
    text-shadow: 0px 1px 2px black;
    position: relative;
}









