body {
    background-color: #798189;
    font: 14px Ariel;
}

.text-wrapper {
    background-color: #cddae8;
}

.commentable-container {
    margin: 0px 0px 0px 20px;
    padding: 20px 20px 20px 24px;
    background-color: white;
}
.comment-button {
    position: absolute;
    top: 0px;
    left: -44px;
    width: 20px;
    z-index: 999;
}
.comment-button:hover {
    background-color: #efb114;
}

.commentable-container h1, h2, h3, p {
    position: relative;
}

.commentable-container h2 {
    text-align:center;
    color:#a9c23d;
    font-size: 1.2em; 
    margin: .60em;
}

.commentable-container h3 {
    color:#efb114;
    font-size: 1.1em; 
    margin: .5em;
}
.commentable-container p {
    word-spacing:0.1em;
    margin: 10px 0px 10px 0px;}